# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# build output
**/dist
/docs
*/graphql-cache.d.ts

# misc
.DS_Store
*.pem

# turbo
.turbo

# lockfiles
package-lock.json
yarn.lock
examples/*/pnpm-lock.yaml

# debug
.pnpm-debug.log*

# local env files
.env

# typescript
*.tsbuildinfo
