@import "./simple.css";

:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto,
    Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
  --base-fontsize: 1rem;

  /* Major third scale progression - see https://type-scale.com/ */
  --header-scale: 1.25;

  /* Line height is set to the "Golden ratio" for optimal legibility */
  --line-height: 1.618;

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #d8dae1;
  --accent: #00501e;
  --accent-light: #00501ed9;
  --code: #212121;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --border: #666;
    --accent: #aafe2c;
    --accent-light: #abfe2cd9;
    --code: #ffffff;
    --preformatted: #ccc;
    --disabled: #111;
  }
}

nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}

article h3 {
  margin-top: 0.5rem;
}

.notice {
  background: var(--accent-bg);
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2rem 0;
}
