.container {
  padding: 0 2rem;
}
.tsd-page-toolbar {
  border: 0;
}
.container-main {
  padding: 2.5rem 0 0;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
.menu-sticky-wrap {
}
.tsd-navigation.settings .tsd-accordion-details {
  padding: 1rem;
  background: var(--color-background-secondary);
}
.tsd-navigation.settings {
  display: inline-block;
  vertical-align: top;
}
.tsd-navigation.settings .tsd-index-accordion {
  position: relative;
}
.tsd-navigation.settings .tsd-accordion-summary {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  margin-left: 1rem;
}
.col-menu,
.col-content {
  position: static;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
.col-menu {
  flex: 0 0 20rem;
  border-left: 0;
  padding-left: 1rem;
  padding-right: 0.1rem;
}
.col-content {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-x: hidden;
  flex: 1;
}
.menu-item-desc {
  color: #5d5d5d;
  font-size: 12px;
  line-height: 1.26;
  font-weight: normal;
}

:root[data-theme='dark'] .menu-item-desc {
  color: #989898;
}
@media (prefers-color-scheme: dark) {
  .menu-item-desc {
    color: #989898;
  }
}

a.tsd-index-link {
  align-items: flex-start;
}
pre {
  border: 0;
}
.tsd-signature {
  background: var(--code-background);
  border: 0;
}
code.tsd-tag {
  border: 0;
}

#tsd-search.has-focus .tsd-navigation.settings {
  visibility: hidden;
}

.tsd-page-toolbar .tsd-toolbar-icon {
  text-align: center;
}
@media (max-width: 1024px) {
  #tsd-search .title {
    max-width: calc(100vw - 22rem);
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
  }
}